<div class="page-header">
  <h1 class="page-title">subbu</h1>
  <div class="menu-bar">
    <ul>
      <li class="active"><a href="\">Blog</a></li>
      <li><a href="\About\Subbu">About</a></li>
      <li><a href="\Projects">Projects</a></li>
      <li><a href="\Archive">Archive</a></li>
      <li><a href="\Contact">Contact</a></li></ul>
  </div>
</div>
