<div class="page-header">
  <h1 class="page-title"><%= title %></h1>
  <div class="menu-bar">
    <ul>
      <li class="active"><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Archive</a></li>
      <li><a href="#">Contact</a></li></ul>
  </div>
</div>
