<div class="right-side-bar">
  <div class="search-bar">
    <form method="post" action="/Search">
      <div class="form-group-inline">
        <button type="submit">&#xF002;</button>
        <input placeholder="Search" name="query" type="text" required title="Enter a keyword to search" class="searchinp">
      </div>
    </form>
  </div>
</div>
